= form_for(@image, url: gallery_image_path(@image.gallery, @image)) do |f|
  .form-horizontal
    = render 'rhinoart/shared/error_messages', object: f.object
    = hidden_field_tag :redirect_to, params[:redirect_to] if params[:redirect_to].present?

    .row-fluid
      .form-group.span2       
        - if !f.object.new_record?
          - image = @image.image.large.url
          = link_to image, class: 'image', data: { lightbox: :rhinogallery }, title: f.object.name do 
            = image_tag @image.image.thumb.url, class: 'media-object', alt: f.object.name, title: f.object.name, width: 120, height: 120

          = link_to 'Original', f.object.try(:image).url, target: :_blank

      .form-group.span3
        = f.label :image
        = f.file_field :image

      / .form-group.span5
      /   = f.label :asset_categories do
      /     = t :asset_categories
      /     = link_to t(:NEW_RECORD), new_admin_asset_category_path(redirect_to: request.fullpath)
      /   = f.select :asset_category_ids, AssetCategory::tree_for_select_list, {}, {:multiple => true, size: 6, class: 'form-control select2', placeholder: t('activerecord.placeholders.asset_category')}

    %br
    .row-fluid
      .form-group.span3
        = f.label :name
        = f.text_field :name, class: 'form-control span12'

      .form-group.span2
        = f.label :alt
        = f.text_field :alt, class: 'form-control span12'

      .form-group.span4
        = f.label :tags
        = f.text_field :tags, class: 'form-control span12'

      .form-group.span1
        = f.label :position
        = f.number_field :position, class: 'form-control span12'

    %br
    .row-fluid
      .form-group.span8
        = f.label :description
        = f.text_area :description, rows: 5, class: "span12"

      .form-group.span4
        = f.label :rightholder
        = f.select :rightholder, Rhinogallery::Image::RIGHTHOLDER_TYPES, {include_blank: true}, {class: 'form-control', style: 'margin-top: 5px;font-weight: normal;'}

        .row-fluid
          .form-group.col-sm-12
            %small= render 'rhinogallery/shared/change_by', object: f.object

    .row-fluid
      .form-actions
        = f.submit t(:_BTN_SAVE), class: 'btn btn-primary', data: { disable_with: t(:_SAVING) }
        = link_to t(:_BACK), @image.gallery, :class => 'btn btn-success'        