= div_for(image, class: 'span4 offset-bottom1', data: {}) do
	.thumbnail
		.row-fluid
			.span4
				%a.image(href="#{image.image.large.url}" data-lightbox="rhinogallery-image")
					= image_tag image.image.thumb.url, width: 120, height: 120
			.span8.caption		
				%b=image.name
				%p= "Alt: #{image.alt}"
				%p= "Tags: #{image.tags}"
				%p= "Comment: #{image.description}"
				%small= render 'rhinogallery/shared/change_by', object: image

		.row-fluid
			.span12
				= link_to t(:_BTN_EDIT), edit_gallery_image_path(@gallery, image), :class => 'btn btn-primary'
				= link_to t(:_BTN_DELETE), image, {remote: true, :method => :delete, 'data-confirm' => 'Are you sure?', :class => 'btn btn-warning'}
