.navbar
	.navbar-inner.navbar-normal
		%a.brand Search filters
		= form_tag @gallery, method: :get, remote: request.xhr?, class: 'navbar-form', role: :form do 
			= hidden_field_tag :search, nil, value: 1 

			.pull-left{ style: 'margin-top: 9px; margin-right: 5px;' }= label_tag :rightholder
			= select_tag :rightholder, options_for_select(Rhinogallery::Image::RIGHTHOLDER_TYPES, params[:rightholder]), include_blank: 'All', class: 'form-control rightholder'

			= "&nbsp;".html_safe
			= text_field_tag :q, params[:q], placeholder: 'Searsh by: name, tags', class: 'form-control'

			= button_tag 'Search', class: 'btn btn-default'

