- provide(:title, "#{t(:_EDIT)}: #{@image.name}" )
- append_javascript 'lightbox'
- append_stylesheet 'lightbox'
- append_javascript 'rhinogallery/images'
- append_stylesheet 'rhinogallery/application'

%h1.offset-bottom1= "#{t(:_EDIT)}: #{@image.name}"

= render 'form'