= form_for @gallery do |f|
  = render 'rhinoart/shared/error_messages', object: f.object
  = hidden_field_tag :redirect_to, params[:redirect_to] if params[:redirect_to].present?

  .row-fluid
    .span4
      .control-group
        = f.label :name, class: 'control-label'
        .controls
          = f.text_field :name, required: true, class: 'span12'

    .span4
      .control-group
        = f.label :slug, class: 'control-label'
        .controls
          = f.text_field :slug, class: 'span12'

    .span1
      .control-group
        = f.label :position, class: 'control-label'
        .controls
          = f.number_field :position, class: 'span12'
    .span1
      .control-group
        = f.label :active, class: 'control-label'
        .controls
          = f.check_box :active, class: 'span12'


  .control-group
    = f.label :image, class: 'control-label'
    .controls
      = f.file_field :image
      = f.hidden_field :image_cache
      %div
        = image_tag @gallery.image.thumb.url if @gallery.image.present?

  .row-fluid
    .span10
      .control-group
        = f.label :description, class: 'control-label'
        .controls
          = f.text_area :description, rows: '4', class: 'span12'

  .form-actions
    = f.submit t(:_BTN_SAVE), class: 'btn btn-primary', data: { disable_with: t(:_SAVING) }
    %a.btn.btn-success(href="#{rhinogallery.galleries_path}")=t(:_BACK)
