- provide(:title, "#{t('rhinogallery._GALLERY')}: #{@gallery.name}" )
- append_javascript 'lightbox'
- append_stylesheet 'lightbox'
- append_stylesheet 'rhinogallery/application'
- append_javascript 'rhinogallery/images'

.row-fluid
	.box-header
		%h2
			%i.halflings-icon.picture
			%span.break
			= "#{t('activerecord.models.rhinogallery/gallery.one')}: #{@gallery.name}"

	.box-content
		.row-fluid
			.span12
				= render 'rhinogallery/images/search_form'

		.row-fluid
			.span12
				.row-fluid.show-grid.offset-bottom1
					.span3
						= image_tag @gallery.image.thumb.url
					.span9
						%h1= @gallery.name
						%span= @gallery.description
				.row-fluid.show-grid.offset-bottom1
					= link_to(t(:_BTN_DELETE), @gallery, {:method => :delete, 'data-confirm' => 'Are you sure?', :class => 'btn btn-warning'})
					= link_to(t(:_BTN_EDIT), edit_gallery_path(@gallery), :class => 'btn btn-primary')
					= link_to(t(:_BTN_ADD_IMAGES), load_images_gallery_path(@gallery), :class => 'btn btn-success')
				.row-fluid.show-grid
					%legend= "Images (#{@images.count})"


				.row-fluid.show-grid.offset-bottom1
					.thumbnails
						- @images.in_groups_of(3, false) do |grp|
							.row-fluid
								- grp.each do |image| 
									= render 'rhinogallery/images/image_list', image: image

						= will_paginate @images
