- if object.last_version_change_user.present?
	= "#{t('last_change_by')}:"
	- begin
		= link_to object.last_version_change_user.name, rhinoart.user_path(id: object.last_version_change_user.id, redirect_to: request.fullpath), target: :_blank		
	- rescue Exception => e
		User was deleted
	
= "#{l object.last_version_change_date, :format => :short}" if object.last_version_change_date.present?                                
